.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-page-container {
  width: 350px;
  border-radius: 4px;
  min-height: 80px;
  background-color: var(--color-background-primary);
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1.6s linear;
  transform: skewY(0deg);
  margin-bottom: -20px;
  margin-top: -20px;
  padding-inline: 32px;
  box-sizing: border-box;
}

@keyframes flipping-action {
  0% {
    transform: rotateY(0deg) skewY(0deg);
  }
  45% {
    transform: rotateY(90deg) skewY(6deg);
  }
  100% {
    transform: rotateY(180deg) skewY(0deg);
  }
}
@keyframes flipping-action-down {
  0% {
    transform: rotateY(0deg) skewY(0deg);
  }
  45% {
    transform: rotateY(90deg) skewY(-6deg);
  }
  100% {
    transform: rotateY(180deg) skewY(0deg);
  }
}

.flipping-action {
  animation: flipping-action 1.6s linear forwards;
}
.flipping-action-down {
  animation: flipping-action-down 1.6s linear forwards;
}

.login-page-header-choosing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  gap: 14px;
}
.login-page-header-choosing-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-weight: 700;
}
.login-page-header-choosing-bar {
  width: 50px;
  height: 16px;
  position: relative;
  border-radius: 8px;
  background-color: rgb(192, 192, 231);
}
.button-flip {
  margin-bottom: 50px;
}
.login-page-header-choosing-bar .icon {
  font-size: 24px;
  position: absolute;
  top: -4px;
  left: 0px;
  transform: rotate(42deg);
  transition: transform 0.8s linear;
  color: black;
}

.icon.arrow-rotate-back {
  transform: rotate(492deg);
}
.icon.arrow-rotate-forward {
  transform: rotate(42deg);
}

.login-page-header-choosing-bar-absolute {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s linear;
}
.arrow-translate-back {
  transform: translateX(28px);
}
.arrow-translate-forward {
  transform: translateX(0px);
}

.section-inside-the-login-container {
  width: 100%;
  display: block;
  margin-bottom: 6px;
  transition: box-shadow 0.8s linear;
}

.section-inside-the-login-container-shado {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
.reverte-the-animation-to-contrast {
  z-index: 2;
}
.flipping-action-down-inside.first {
  animation: flipping-action-special-for-the-inside-first 1.6s linear forwards;
}

.flipping-action-down-inside.second {
  animation: flipping-action-special-for-the-inside-second 1.6s linear forwards;
}

@keyframes flipping-action-special-for-the-inside-first {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(8deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
@keyframes flipping-action-special-for-the-inside-second {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(6deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes flipping-action-special-for-the-inside-third {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(6deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
@keyframes flipping-action-special-for-the-inside-fourth {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(4deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

.third,
.first,
.fifth,
.seventh {
  width: 100%;
  display: flex;
  align-items: center;
  height: 15px;
  border-radius: 4px;
  margin-bottom: -5px;
  background-color: var(--color-background-body);
}

.fourth,
.second,
.sixth,
.eight {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -5px;
  height: 15px;
  border-radius: 4px;
  margin-bottom: 0px;
  background-color: var(--color-background-body);
}

.flipping-action-down-inside.third {
  animation: flipping-action-special-for-the-inside-third 1.6s linear forwards;
}
.flipping-action-down-inside.fourth {
  animation: flipping-action-special-for-the-inside-fourth 1.6s linear forwards;
}
.flipping-action-down-inside.fifth {
  animation: flipping-action-special-for-the-inside-fifth 1.6s linear forwards;
}
.flipping-action-down-inside.sixth {
  animation: flipping-action-special-for-the-inside-sixth 1.6s linear forwards;
}
.flipping-action-down-inside.seventh {
  animation: flipping-action-special-for-the-inside-seventh 1.6s linear forwards;
}
.flipping-action-down-inside.eight {
  animation: flipping-action-special-for-the-inside-eight 1.6s linear forwards;
}

@keyframes flipping-action-special-for-the-inside-fifth {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(4deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
@keyframes flipping-action-special-for-the-inside-sixth {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(2deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

@keyframes flipping-action-special-for-the-inside-seventh {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(2deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
@keyframes flipping-action-special-for-the-inside-eight {
  0% {
    transform: skewY(0deg);
  }
  45% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(0deg);
  }
}

.section-inside-the-login-container {
  position: relative;
}

.first-child {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.8s linear;
}

.second-child {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.8s linear;
}

.section-inside-the-login-container:hover .first-child {
  box-shadow: 2px -3px 4px 2px rgba(0, 0, 0, 0.2);
}

.section-inside-the-login-container:hover .second-child {
  box-shadow: 2px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.section-inside-the-login-container-shadow.first-child {
  box-shadow: 12px -3px 4px rgba(0, 0, 0, 0.2);
}

.section-inside-the-login-container-shadow.second-child {
  box-shadow: 12px 5px 4px rgba(0, 0, 0, 0.2);
}
