.cahtgpt2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.sentence-name {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.microphone {
  font-size: 200px;
  cursor: pointer;
  color: red;
}
